<div>
	<div class="container">
      <div class="row">
        <div class="col-12">
			{% for category in site.categories %}
			  <h3>{{ category[0] }}</h3>
			  <ul class="list-group">
				{% for post in category[1] %}
				  <li class="list-group-item">
					<span style="font-size:10pt">{{post.date|date:"%F"}}</span><br>
					<a href="{{ post.url }}" style="color:#343a40">{{ post.title }}</a>
				  </li>
				{% endfor %}
			  </ul>
			{% endfor %}
        </div>
      </div>
    </div>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
<style>
  *, ::after, ::before{
	box-sizing: unset;
  }
  h1, h2, h3, h4, h5, h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}
</style>
<script>
  console.log({{site.categories}});
</script>
                   