<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ site.title }}</title>
		<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	  
		<link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ '/assets/css/monokai.css' | prepend: site.baseurl }}">
		<!-- <link rel="stylesheet" href="{{ '/assets/css/custom.css' | prepend: site.baseurl }}"> -->
		<link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' }}" >
		
		<script type="text/x-mathjax-config">
		  MathJax.Hub.Config({
			tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
		  });
		</script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<style>
			*, ::after, ::before{
			  box-sizing: unset;
			}
			h1, h2, h3, h4, h5, h6 {
			  position: relative;
			  margin-top: 1rem;
			  margin-bottom: 1rem;
			  font-weight: bold;
			  line-height: 1.4;
			  cursor: text;
		  }
		  #aboud code{
			  white-space: pre;
		  }
		  </style>
	  </head>
  <body>
	  {% include header.html %}
	  <div class="container-fluid" id="about">
		  <div class="row">
			  <div class="col-md-6 col-md-offset-3 col-xs-11">
				  {{ content }}
			  </div>
		  </div>
	  </div>
      {% include footer.html %}
  </body>
</html>